nav{
	border: 1px solid green;
}
#top-navbar h1{ 
	text-align: center;
}

#container{
	display: flex none;
	box-sizing: content-box;
	float: left;
	position: absolute;
	border: 1px solid red;
	width: 100%;
	height: 100%
}
